<!DOCTYPE html>
<html>
<head>
  <title>Stephen Inglis</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(root_path) %>">
        <%= link_to root_path do %>
        <span class="glyphicon glyphicon-home"></span> Home
        <% end %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Demos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="<%= 'active' if current_page?(reddit_path) %>">
              <%= link_to "Reddit Censorship", reddit_path %>
            </li>
            <li class="<%= 'active' if current_page?(sudoku_path) %>">
              <%= link_to "Sudoku Solver", sudoku_path %>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
